body {
    text-align: center;
    margin-top: 100px;
    font-family: Helvetica;
    background-image: url("images/gradient_bg.png");
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 100px;
    padding: 20px;
    text-shadow: 2px 2px 10px gray;
    margin: 0;
}

h3 {
    margin-top: 60px;
    color: white;
    font-size: 45px;
    font-weight: 400;
}

#start p {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    color: #eeeeee;
}

button {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    font-size: 50px;
    font-weight: 400;
    background: none;
    border: 5px dotted white;
    color: white;
    margin: 30px;
}

#ongoing {
    display: none;
}

input[type=range] {
    width: 95%;
    height: 100px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 30px;
    background: #ddd;
    border: none;
    border-radius: 10px;
}

input[type=range]{
    -webkit-appearance: none;
    background: none;
    outline: none;
}


.box {
    width: 500px;
    margin: 50px auto;
}

#ongoing img {
    width: 130px;
    display: block;
    margin: 0 auto;
}

#ongoing p {
    font-size: 50px;
}

#ongoing span {
    font-size: 50px;
}

.label {
    text-decoration: underline
}

#identity-name {
    font-size: 60px;
    font-weight: 900;
}

.knob {
    font-size: 60px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
